<span class="number" data-number="9">
  <span class="primary">
  </span>
  <span class="secondary">
  </span>
</span>
<span class="number" data-number="9">
  <span class="primary">
  </span>
  <span class="secondary">
  </span>
</span>
<span class="number" data-number="9">
  <span class="primary">
  </span>
  <span class="secondary">
  </span>
</span>
<span class="number" data-number="0">
  <span class="primary">
  </span>
  <span class="secondary">
  </span>
</span>